<h2>@ViewBag.Title</h2>

<div class="text-center">
    <p><a href="/Home/HttpAccessTest">HTTP Access Test</a></p>
    <p><a href="/Home/HttpAccessTest?uri=https%3A%2F%2Fsamplenetcore31app01.azurewebsites.net%2F%3Fcount=5&size=100">HTTP Access Test(target=http://samplenetcore31app01.azurewebsites.net/&count=5&size=100)</a></p>
    <p><a href="/Home/LogTest">LOG Test</a></p>
    <p><a href="/Home/LogTest?msg=12345">LOG Test (message=12345)</a></p>
    <p><a href="/Home/LoadTest?loop=100">LOAD Test</a></p>
    <p><a href="/Home/MemoryTest?size=300&sleep=3">Memory Test(size=300MB, sleep=3s)</a></p>
    <p><a href="/Home/ExceptionTest">Exception Test</a></p>
</div>
